.cinema {
    font-family: "Amatic SC", sans-serif;
    font-size: 35px;
}


.item {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
